html {
  font-family: arial;
  background: black;
}
body {
  width: 1310px;
  margin: 0 auto;
}
header h1{
  float: left;
}
header nav {
  float: right;
}
main {
  background: #ffffff;
  clear: both;
}
h1 {
  font-size: 40px;
  color: #007d7b;
  padding-left: 20px;
  text-transform:uppercase;
}
h2 {
  font-size: 40px;
  color: #000000;
  text-transform:uppercase;
}
nav li {
  list-style:none;
  display:inline-block;
  margin:0;
  padding-left: 80px;
  padding-top: 25px;
  text-align: right;
  text-transform:uppercase;
  font-size: 20px;
  color: #ffffff;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}
nav a:hover {
  color: #007d7b;
}
[href="#top"] {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #007d7b;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
[href="#top"]:hover {
  background-color: #ffffff;
  color: #007d7b;
}
.about {
  margin: 0px auto;
}
.about div {
  float: right;
  margin: 0px auto;
  padding-right: 20px;
  width: 420px;
  text-align: right;
}
.about h2 {
  font-size: 40px;
}
.about p{
    font-size: 20px;
    padding-right: 5px;
    padding-top: 10px;
}
.about img {
  float: left;
  width: 850px;
  height: 250px;
  padding-top:10px;
  padding-left: 10px
}
.gallery {
  clear: both;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}
.gallery p {
  font-size: 20px;
  color: #000000;
}
.gallery h2 {
  padding-top: 5px;
}
.gallery h2,p {
  margin-bottom: 5px;
  margin-left: 5px;
}
table {
  margin-top: 0;
}
tr {
   height: 281px;
   width: 1270px;
}
td {
  width: 420px;
  height: 281px;
  position: relative;
  padding: 5px;
}
td > img {
  width: 420px;
  height: 281px;
  position: relative;
/*   z-index: 1; */
}
.tall img {
  height: 630px;
/*   position: absolute; */
}
.chile, .guat, .iran, .rocky, .usa, .wyoming {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
.hawaii, .ireland, .moab, .uk {
  position: absolute;
  color: #ffffff;
  bottom: 10px;
  right: 10px;
}
.italy, .switz {
  position: absolute;
  color: #ffffff;
  bottom: 10px;
  left: 10px;
}
footer {
  clear: both;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
/*   padding: 0; */
  width: 850px;
}
form {
  text-transform:uppercase;
  text-align: left;
  font-size: 16px;
}
input, label {
  width: 850px;
  text-transform:uppercase;
  margin: 5px;
  text-align: left;
}
label {
  color: #ffffff;
}
input {
  padding: 5px;
}
[placeholder~="you"] {
  color: #007d7b;
}
#submit {
  clear: both;
  text-align: center;
  background-color: #007d7b;
  color: #ffffff;
  font-size: 16px;
  border-radius: 12px;
  width: 320px;
  padding: 5px;
  text-transform:uppercase;
  margin-left: 31%;
}
h3 {
  text-transform:uppercase;
  font-size: 40px;
  margin: 0 auto;
  padding: 0;
}
h4 {
  display: none;
}
footer p {
  font-size: 20px;
}
small {
  margin: 10px;
  padding-bottom: 20px;
  text-transform:uppercase;
  font-size: 16px;
}